<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>burnPanda0.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,337},{67,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>burnPanda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,337},{67,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>burnPanda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,268},{67,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>burnPanda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,268},{67,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>burnPanda4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,337},{67,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>burnPanda5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,337},{67,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>burnPanda6.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,268},{67,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>burnPanda7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,268},{67,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>dealPanda0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,548},{77,87}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{77,87}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>dealPanda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,406},{79,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>dealPanda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,552},{77,87}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{77,87}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>dealPanda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,406},{79,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>dealPanda4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,552},{77,87}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{77,87}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>dealPanda5.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,406},{79,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>dealPanda6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,65},{77,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>dealPanda7.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,406},{79,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>jumpPanda0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{65,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{65,91}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>jumpPanda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,140},{67,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{67,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>jumpPanda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,144},{65,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{65,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>jumpPanda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,140},{61,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>jumpPanda4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,65},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>jumpPanda5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,65},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>jumpPanda6.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,65},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>jumpPanda7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,140},{61,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>rollPanda0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{69,83}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>rollPanda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{73,77}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>rollPanda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,410},{63,89}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{63,89}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>rollPanda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,617},{79,79}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>rollPanda4.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,548},{67,83}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>rollPanda5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,203},{63,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{63,91}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>rollPanda6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>rollPanda7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{61,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>runPanda0.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,345},{63,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{63,90}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>runPanda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,211},{61,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,92}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>runPanda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,404},{61,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{61,90}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>runPanda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,209},{61,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,92}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>runPanda4.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,339},{63,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{63,90}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>runPanda5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{61,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{61,90}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>runPanda6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,347},{61,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{61,90}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>runPanda7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,203},{61,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,92}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>sprintPanda0.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,467},{69,88}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>sprintPanda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{71,90}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,90}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>sprintPanda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{71,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{71,88}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>sprintPanda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,274},{71,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{71,90}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>sprintPanda4.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,272},{71,90}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,90}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>sprintPanda5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,266},{71,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{71,90}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>sprintPanda6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,475},{71,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{71,88}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>sprintPanda7.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,410},{71,88}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,88}}</string>
                <key>sourceSize</key>
                <string>{79,92}</string>
            </dict>
            <key>turn2Panda0.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,691},{69,70}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{69,70}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>turn2Panda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,552},{73,58}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,38},{73,58}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>turn2Panda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,603},{63,80}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{63,80}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>turn2Panda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,627},{79,62}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>turn2Panda4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{67,70}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{67,70}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>turn2Panda5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,538},{63,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{63,88}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>turn2Panda6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,347},{61,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{61,90}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>turn2Panda7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,203},{61,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{61,92}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>turnPanda0.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{61,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
            <key>turnPanda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{61,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
            <key>turnPanda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,487},{63,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{63,88}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
            <key>turnPanda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{77,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{77,88}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
            <key>turnPanda4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,483},{63,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{63,88}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
            <key>turnPanda5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
            <key>turnPanda6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,94}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
            <key>turnPanda7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panda.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ea3f43b66e91ddcbfa4fbf8b7f751ee$</string>
            <key>textureFileName</key>
            <string>panda.png</string>
        </dict>
    </dict>
</plist>
